
*.pdb
src/NPOI.Utility/obj/project.nuget.cache
src/NPOI.Utility/obj/project.assets.json
src/NPOI.Utility/obj/NPOI.Utility.csproj.nuget.g.targets
src/NPOI.Utility/obj/NPOI.Utility.csproj.nuget.g.props
src/NPOI.Utility/obj/NPOI.Utility.csproj.nuget.dgspec.json
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.dll
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.csprojAssemblyReference.cache
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.csproj.FileListAbsolute.txt
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.csproj.CoreCompileInputs.cache
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.assets.cache
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.AssemblyInfoInputs.cache
src/NPOI.Utility/obj/Debug/netstandard2.0/NPOI.Utility.AssemblyInfo.cs
src/NPOI.Utility/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/NPOI.Utility/bin/Debug/netstandard2.0/NPOI.Utility.dll
src/NPOI.Utility/bin/Debug/netstandard2.0/NPOI.Utility.deps.json
src/NPOI.Utility/.vs/NPOI.Utility/v16/.suo
src/NPOI.Utility/.vs/NPOI.Utility/DesignTimeBuild/.dtbcache.v2
src/NPOI.Utility.Test/bin/Debug/netcoreapp3.1/NPOI.Utility.Test.runtimeconfig.json
src/NPOI.Utility.Test/bin/Debug/netcoreapp3.1/NPOI.Utility.Test.runtimeconfig.dev.json
src/NPOI.Utility.Test/bin/Debug/netcoreapp3.1/NPOI.Utility.Test.exe
src/NPOI.Utility.Test/bin/Debug/netcoreapp3.1/NPOI.Utility.Test.deps.json
src/NPOI.Utility.Test/bin/Debug/netcoreapp3.1/NPOI.Utility.Test.dll
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.AssemblyInfo.cs
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.AssemblyInfoInputs.cache
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.assets.cache
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.csproj.CoreCompileInputs.cache
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.csproj.FileListAbsolute.txt
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.csprojAssemblyReference.cache
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.dll
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.exe
src/NPOI.Utility.Test/obj/Debug/netcoreapp3.1/NPOI.Utility.Test.genruntimeconfig.cache
src/NPOI.Utility.Test/obj/NPOI.Utility.Test.csproj.nuget.dgspec.json
src/NPOI.Utility.Test/obj/NPOI.Utility.Test.csproj.nuget.g.props
src/NPOI.Utility.Test/obj/NPOI.Utility.Test.csproj.nuget.g.targets
src/NPOI.Utility.Test/obj/project.assets.json
src/NPOI.Utility.Test/obj/project.nuget.cache
